@use 'tags/react-tag-autocomplete';
@use 'utils/StickyCardPaginator.scss';
@use "../node_modules/@shlinkio/shlink-frontend-kit/dist/base";

@import 'leaflet/dist/leaflet.css';

.top-sticky {
  position: sticky;
  top: base.$headerHeight;
  z-index: 10;
}
